{% extends 'base.html.twig' %}

{% block title %}Contact - EcoRide
{% endblock %}

{% block body %}
	<main class="container py-5">
		<h1 class="text-center text-success mb-4">Nous contacter</h1>
		<p class="text-center mb-5">
			Une question ? Un problème ? Envoyez-nous un mail à
<a href="mailto:ecoride.dev@gmail.com" class="text-success">ecoride.dev@gmail.com</a>.


		</p>

		<div class="text-center">
			<a href="{{ path('app_home') }}" class="btn btn-outline-success">Retour à l'accueil</a>
		</div>
	</main>
{% endblock %}

