{% extends 'base.html.twig' %}

{% block title %}Mon Profil
{% endblock %}

{% block body %}
{% include 'profil/_profil_layout.html.twig' %}



	<div class="container mt-5">
		<h1 class="mb-4">Ajouter un véhicule</h1>

{{ form_start(form) }}
{{ form_widget(form) }}
<button type="submit" class="btn btn-success mt-4">Ajouter</button>
{{ form_end(form) }}


	</div>
{% endblock %}
